.radio-unset {
  position: relative;
  box-sizing: border-box;

  & input {
    all: unset;
    position: absolute;
    inset: 0;
  }
}

.radio-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  gap: .25rem;
  padding: .25rem;
  background-color: var(--input-base);
}

.radio-inner {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: .25rem;
  position: relative;
  border-radius: .5rem;
  padding: .25rem;
  margin: .15rem;

  & .radio-image-presencial {
    justify-content: center;
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/building-2.svg);
  }

  & .radio-image-online {
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/video.svg);

  }

  & img {
    max-width: 1rem;
  }

  &:has(:checked){
    background-color: var(--input-stroke);
    & .radio-image-presencial {
      background-image: url(../../assets/Icons/building-2-hover.svg);
    }

    & .radio-image-online {
      background-image: url(../../assets/Icons/video-hover.svg);
    }
  }
}

.radio-wrapper-color {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 1rem;
  border-radius: 100%;
}

.radio-color {
  background-color: var(--shape-button);
  max-width: 2.5rem;
  max-height: 2.5rem;
  display: flex;
  padding: .3rem;
  border-radius: 100%;
  margin-top: 1rem;
  position: relative;

  &:has(:checked), &:hover, &:focus-within{
    outline: 2px solid var(--brand-light);
  }
}

.radio-wrapper-theme{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
  gap: .5rem;
}

.radio-inner-theme {
  margin-top: 1rem;
  max-width: 8.375rem;
  background-color: var(--shape-button);
  border-radius: .5rem;
  padding: .25rem;
  display: grid;
  position: relative;
  
  & img {
    max-width: 7.875rem;
    border-radius: .5rem;
  }

  & label {
    text-align: center;
  }

  &:has(:checked), &:hover, &:focus-within{
    outline: 2px solid var(--brand-light);
  }
}


.radio-inner-style {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: .25rem;
  position: relative;
  border-radius: .5rem;
  padding: .25rem;
  margin: .15rem;

  & .radio-image-presencial {
    justify-content: center;
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/building-2.svg);
  }

  & .radio-image-online {
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/video.svg);

  }

  & img {
    max-width: 1rem;
  }

  &:has(:checked){
    background-color: var(--input-stroke);
    & .radio-image-presencial {
      background-image: url(../../assets/Icons/building-2-hover.svg);
    }

    & .radio-image-online {
      background-image: url(../../assets/Icons/video-hover.svg);
    }
  }
}

.radio-inner-style {
  display: flex;
  height: 10px;

  & .radio-image-presencial {
    max-width: 2rem;
    height: 4rem;
    background-image: url(../../assets/Icons/building-2.svg);
  }

  & .radio-image-online {
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/video.svg);

  }

  & img {
    max-width: 1rem;
  }

  &:has(:checked){
    background-color: var(--input-stroke);
    & .radio-image-presencial {
      background-image: url(../../assets/Icons/building-2-hover.svg);
    }

    & .radio-image-online {
      background-image: url(../../assets/Icons/video-hover.svg);
    }
  }
}