
.teste {
  & input {
    all: unset;
    position: absolute;
    inset: 0;
  }
}

.radio-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  gap: .25rem;
  padding: .25rem;
  background-color: var(--input-base);
}

.radio-inner {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: .25rem;
  position: relative;
  border-radius: .5rem;
  padding: .25rem;
  margin: .15rem;

  & .radio-image-presencial {
    justify-content: center;
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/building-2.svg);
  }

  & .radio-image-online {
    flex: 0 0 1rem;
    height: 1rem;
    background-image: url(../../assets/Icons/video.svg);

  }

  & img {
    max-width: 1rem;
  }

  &:has(:checked){
    background-color: var(--input-stroke);
    & .radio-image-presencial {
      background-image: url(../../assets/Icons/building-2-hover.svg);
    }

    & .radio-image-online {
      background-image: url(../../assets/Icons/video-hover.svg);
    }
  }
}

.radio-wrapper-color {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
  justify-content: center;
  border-radius: 100%;
}

.radio-color {
  background-color: var(--shape-button);
  max-width: 2.5rem;
  max-height: 2.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: .3rem;
  border-radius: 100%;
  margin-top: 1rem;
}
