
@import url(fields/index.css);

.main-container {
  width: 100%;
}

fieldset {
  border: none;
  margin-bottom: 3rem;
}

h2 {
  font: var(--heading-sm);
  color: var(--text-heading);
  padding-bottom: 1.5rem;
}

.title-fieldset {
  display: flex;
  gap: .75rem;
}