#app{
  margin: 0;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  max-width: 80rem;

  height: 100vh;
  overflow: hidden;
}

aside {
  margin: 1.25rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  overflow: hidden;
  max-height: 100vh;
  height: 55rem;
  background-image: url(../assets/Background.png);
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  
  & .box-logo {
    box-sizing: border-box;
    padding: 1rem;
    
    & img {
      max-height: 3rem;
      margin-bottom: 1rem;
    }

    & h1 {
      font: var(--logo);
      color: var(--pink);
    }
  
    & p {
      font: 100 1rem/1.5 var(--font-family);
      color: var(--text-heading);
    }
  }
  
}

main {
  background-color: var(--shape-body);
  margin: 1.25rem;
  margin-left: 0;
  border-radius: .5rem;
  display: flex;
  padding: 5rem 8.125rem;
  overflow: auto;
  box-sizing: border-box;
}

.title {
  margin-bottom: 2.5rem;

  & h1 {
    font: var(--heading-md);
    color: var(--text-heading);;
  }
}